.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}

.BoardPageBackground{
  height:100%;
  background-attachment: fixed;
  display : flex;
  flex-direction : column;
}

.BoardCategory {
  display: flex;
  width: 1200px;
  height: 70px;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 40px;
  justify-content: center;
  align-items: center;
  font: larger bolder;
}

/* .BoardCategory a{
      width: 400px;
  } */

.BoardBox {
  display: flex;
  flex-direction: column;
  top: 100px;
  width: 1120px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 40px;
}

.MobileBoardBox{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-top : 20px;
  padding: 20px;
}

.Description {
  text-align: center;
  font-size: large;
  font-weight: 300;
  margin-bottom: 40px;
}

.MobileDescription {
  text-align: center;
  font-size: medium;
  font-weight: 200;
  margin-bottom: 5%;
}

.ant-menu-title-content {
  margin-inline-start: 5px !important;
}

.ant-menu-item-selected::after {
  border-bottom-color: white !important;
}
.ant-menu-item-selected {
  color: #84abf9 !important;
}

.ant-menu-item:hover {
  color: #b9bfff !important;
}

.ant-menu-item-active::after {
  border-bottom-color: white !important;
}

.Search {
  margin-top: 25px;
  width: 60%;
}

.MobileSearch {
  margin-top: 25px;
  width: 80%;
  position : fixed;
  bottom : 90px;
}

.FormBox {
  top: 100px;
  width: 1120px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 40px;
}

.ArticleBox {
  width: 1000px;
}

.CommentBox {
  width: 1000px;
}

.ReCommentBox {
  margin-left: 50px;
}

.ViewLikeCommentCnt span {
  margin-top: 20px;
  margin-right: 15px;
  font-size: large;
}

.articleContent {
  margin-top: 80px;
  margin-bottom: 100px;
  font-size: 18px;
  font-weight: 100;
  white-space: pre-line;
}

Button {
  margin-right: 5px;
}

.CommentTextBox {
  white-space: pre-wrap;
}

.articleList > .ant-list-header {
  border-block-end: 1px solid #868e96 !important;
  padding: 0px !important;
}

.noticeList > .ant-list-header {
  border-block-end: 2px solid #868e96 !important;
}

.update-delete-button {
  position: relative !important;
  top: -50px !important;
  bottom: 30px !important;
}

:where(.css-yp8pcc).ant-list .ant-list-item {
  display: flex;
  justify-content: space-between;
  align-items: initial !important;
  padding: 12px 0;
  color: rgba(0, 0, 0, 0.88);
}

ul.ant-list-item-action {
  margin-left: 2px !important;
  margin-top: 7px;
}

.imageArea {
  margin-top: 50px;
}
