.WebListBox {
  width: 580px;
  height: 1420px;
  justify-content: space-evenly;
}

.MobileListBox {
  width: 90%;
  height: 50%;
  justify-content: space-evenly;
}

.MobileCard {
  display: flex;
  width: 90%;
  height: 50%;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.List {
  display: flex;
  width: 580px;
  height: 600px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.MovingList {
  position: sticky;
  display: flex;
  top: 100px;
  width: 580px;
  height: 600px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.FixedList {
  position: sticky;
  top: 100px;
  display: flex;
  width: 580px;
  height: 600px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.YangchelinBox {
  display: flex;
  width: 580px;
  height: 600px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.MovingYangchelinBox {
  position: sticky;
  top: 120px;
  right: 215px;
  display: flex;
  width: 580px;
  height: 600px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.FixedYangchelinBox {
  position: sticky;
  top: 2800px;
  display: flex;
  width: 580px;
  height: 600px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.FreeBoardContents {
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 530px;
  height: 550px;
}

.MobileCardContents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width : 100%
}

.WebTitle {
  padding: 0px 25px 0px 25px;
  font-size: larger;
  font-weight: bolder;
}

.MobileTitle {
  padding: 0px 10px 0px 10px;
  font-size: large;
  font-weight: bolder;
}

.Articles {
  padding: 10px;
}

.CardnewsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  align-items: center;
  /* justify-content: start; */
  justify-self: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
  -webkit-line-clamp: 2;
}

.Thumbnail {
  width: 100%;
  height: 200px;
}

.ArticleSummary {
  margin: 10px;
}

.SmallCardBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  align-items: center;
  /* justify-content: start; */
  justify-self: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.CardLink {
  text-decoration-line: none;
  display : flex;
  width : 90%
}

.ant-list-item-meta-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.HotArticleBox{
  width : 100%;
  padding-top: 10%;
  display : flex;
  flex-direction: column;
  align-items: center;
}

.MobileArticlePreviewCard {
  width : 100%;
  height: 380px;
  margin-top: 5%;
  border-radius: 20px;
  overflow: hidden;
}

.NoticeCarouselBox{
  display : flex;
  width : 90%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
}

.NoticeCarouselContent {
  display : flex !important;
  align-items: center;
  height :40px;
  margin-left:5px;
  font-size: medium;
}
