.CarouselBox {
    display: flex;
    width : 100%;
    justify-content: center;
    align-items: center;
  }

.MobileCarousel{
    width: 90%;
    align-self: center;
    border-radius: 20px;
}

.WebCarousel {
    width: 75%;
    align-self: center;
    border-radius: 20px;
}