.App {
  background: linear-gradient(to bottom, #ffffff 30%, #c7d3ef);
  /* text-align: center; */
  background-attachment: fixed;
  /* position : sticky;
  top: 0;
  left: 0; */

  /* height: 100%; */

}


